<!DOCTYPE html>
<html>
        <html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
        <title>Registration Page</title>
    </head>
<body class="register-section">
    <div class="registration-container">
        <h2 class="form-group" text-align = center >USER REGISTRATION</h2>
        <form class="form-group" method="POST" action="/register">
            <input class="form-group" type="text" name="username" placeholder="Username" required><br>
            <input class="form-group" type="password" name="password" placeholder="Password" required><br>
            <button class="submit-btn" type="submit">Register</button>
        </form>
        
</body>
</html>
